<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 顶部导航 -->
<div id="header" th:fragment="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <span>
          	 王大亨公交管理系统
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown" style="padding: 0 10px;height: 56px;overflow-y: hidden;">
                    <a th:href="@{${#httpServletRequest.getContextPath()}+'/logout'}">
                        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- 左部导航 -->
<aside id="menu" th:fragment="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="#">
                <img style="width: 150px" src="" class="img-circle m-b" alt="logo">
            </a>
        </div>
        <ul class="nav" id="side-menu">
            <li id="leftMenuAdmin">
                <a th:href="${#httpServletRequest.getContextPath()+'/admin/adminList'}"><i aria-hidden="true" class="fa fa-users">&nbsp;</i><span class="nav-label">管理员管理</span></a>
            </li>
            <li id="leftMenuDriver">
                <a th:href="${#httpServletRequest.getContextPath()+'/admin/driver/list'}"><i aria-hidden="true" class="fa fa-user">&nbsp;</i><span class="nav-label">司机管理</span></a>
            </li>
            <li id="leftMenuBus">
                <a th:href="${#httpServletRequest.getContextPath()+'/admin/bus/list'}"><i aria-hidden="true" class="fa fa-bus">&nbsp;</i><span class="nav-label">公交管理</span></a>
            </li>
            <li id="leftMenuWay">
                <a href="#"><span class="nav-label"><i class="fa fa-road" aria-hidden="true"></i>路线管理</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a th:href="${#httpServletRequest.getContextPath()+'/admin/station'}"><i class="fa fa-ticket" aria-hidden="true"></i>站点管理</a></li>
                    <li><a th:href="${#httpServletRequest.getContextPath()+'/admin/way'}"><i class="fa fa-road" aria-hidden="true"></i>路线管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>