<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::commonHead('公交管理系统')">
</head>
<body>
    <!-- 导入头部 -->
    <div id="header" th:include="common/nav::header"></div>
    <!-- 导入左部菜单导航栏 -->
    <aside id="menu" th:include="common/nav::menu"></aside>
    <!-- 主题内容开始 -->
    <!-- 搜索条件 -->
    <div class="content">
        <div class="content-panel">
            <div class="row">
                <form id="form_condition">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label>姓名</label>
                            <input type="text" name="name" class="form-control"/>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>驾驶证编号</label>
                            <input type="text" name="driverCard" class="form-control"/>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-lg-6 form-group">
                           <label>性别</label>
                           <select name="sex" class="form-control">
                               <option value="">全部</option>
                               <option value="男">男</option>
                               <option value="女">女</option>
                           </select>
                       </div>
                       <div class="col-lg-6 form-group">
                           <label>手机号</label>
                           <input type="text" name="mobile" class="form-control"/>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-lg-6 form-group">
                           <label>状态</label>
                           <select name="state" class="form-control">
                               <option value="">全部</option>
                               <option value="0">就职状态</option>
                               <option value="-1">离职状态</option>
                           </select>
                       </div>
                       <div class="col-lg-6 form-group text-right">
                           <label style="display: block;">&nbsp;</label>
                           <a class="btn btn-success" th:href="${#httpServletRequest.getContextPath()+'/admin/driver/edit'}" >添加</a>
                           <button class="btn btn-success" type="button" onclick="datatableInitial()">查询</button>
                           <button class="btn btn-success" type="reset" >重置</button>
                       </div>
                   </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 数据表格展示区 -->
    <div class="content">
        <div class="content-panel">
            <div class="row">
                <table class="table table-bordered table-hover" id="driverListTable"></table>
            </div>
        </div>
    </div>
    <input type="hidden" id="root" th:value="${#httpServletRequest.getContextPath()}" />
    <script>
        var oTable;
        var root = $("#root").val();
        $("#leftMenuDriver").addClass("active");//设置当前菜单高亮
        $(function () {
            datatableInitial();
        });
        /**
         * 构建datatable
         */
        function datatableInitial(){
            if (typeof oTable == "undefined"){
                oTable = $("#driverListTable").dataTable({
                    "bPaginate":true,//翻页功能
                    "sServerMethod":"POST",//请求方式
                    "bServerSide":true,//是否开启服务端分页
                    "bProcessing":true,//是否显示加载ing
                    "bFilter":false,//是否开启过滤
                    "bSort":false,//是否开启排序
                    "sAjaxSource":root+"/admin/driver",
                    "fnServerParams":function (aoData) {//查询条件，额外参数
                        var $form = $("#form_condition");
                        aoData.push({
                                "name":"name",
                                "value":$form.find("[name=name]").val()
                        });
                        aoData.push({
                            "name":"driverCard",
                            "value":$form.find("[name=driverCard]").val()
                        });
                        aoData.push({
                            "name":"sex",
                            "value":$form.find("[name=sex]").val()
                        });
                        aoData.push({
                            "name":"mobile",
                            "value":$form.find("[name=mobile]").val()
                        });
                        aoData.push({
                            "name":"state",
                            "value":$form.find("[name=state]").val()
                        });
                    },
                    "aoColumns":[{
                        "mData":"id",
                        "sTitle":"序号",
                        "mRender":function (data,type,full,meta) {
                            return meta.row+1+meta.settings._iDisplayStart;
                        }
                    },{
                        "mData":"name",
                        "sTitle":"姓名"
                    },{
                        "mData":"driverCard",
                        "sTitle":"驾驶证编号"
                    },{
                        "mData":"sex",
                        "sTitle":"性别"
                    },{
                        "mData":"age",
                        "sTitle":"年龄"
                    },{
                        "mData":"mobile",
                        "sTitle":"手机"
                    },{
                        "mData":"state",
                        "sTitle":"状态",
                        "mRender":function (data,type,full,meta) {
                            return data == 0?"就职状态":"离职状态";
                        }
                    },{
                        "mData":"id",
                        "sTitle":"操作",
                        "width":"15%",
                        "mRender":function (data,type,full,meta) {
                            var str = "";
                            str += "<a  href='"+root+"/admin/driver/edit/"+data+"' class='btn btn-primary'><i class='fa fa-pencil' aria-hidden='true'></i>编辑</a>";
                            str += "<button type='button' onclick='deleteDriver("+JSON.stringify(full)+")' class='btn btn-primary' style='margin-left: 10px;'><i class='fa fa-trash' aria-hidden='true'></i>删除</button>";
                            return str;
                        }
                    }]
                });
            } else{
                // oTable.fnClearTable(0);
                var oSettings = oTable.fnSettings();
                oSettings._iDisplayLength = parseInt($(
                    '[name=driverListTable_length] option:selected').val());
                $('.dataTables_length select').val(
                    $('[name=driverListTable_length] option:selected').val());
                //oSettings._iDisplayStart = 0;
                oTable.fnDraw();//重绘表格
            }
        }

        /**
         * 删除司机信息
         * @param obj
         */
        function deleteDriver(obj){
            swal({
                title:"您确定删除"+obj.name+"司机吗？",
                text:"谨慎操作！司机信息删除后将无法撤回！",
                type:"warning",
                showCancelButton:true,
                confirmButtonText:"确定删除",
                confirmButtonColor:"#F27474",
                cancelButtonText:"取消",
                closeOnConfirm:false,
                showLoaderOnConfirm:true
            },function () {
                $.ajax({
                    url:root+"/admin/driver/delete",
                    method:"post",
                    dataType:"json",
                    data:{"id":obj.id},
                    async:true,
                    success:function (data) {
                        if (data.code > 0){
                            //swal("删除成功！","","success");
                            swal({
                                title:"删除成功！",
                                text:"",
                                type:"success"
                            });
                            //成功之后重新获取列表
                            datatableInitial();
                        } else{
                            //swal("删除失败！",data.msg,"error");
                            swal({
                                title:"删除失败！",
                                text:data.msg,
                                type:"error"
                            });
                        }
                    }
                });
            });
        }

    </script>
</body>
</html>