<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whx.bus.mapper.WayMapper" >
  <resultMap id="BaseResultMap" type="com.whx.bus.entity.Way" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="topen" property="topen" jdbcType="TIMESTAMP" />
    <result column="tclose" property="tclose" jdbcType="TIMESTAMP" />
    <result column="topenString" property="topenString" jdbcType="VARCHAR" />
    <result column="tcloseString" property="tcloseString" jdbcType="VARCHAR" />
    <collection property="stations" ofType="com.whx.bus.entity.Station" column="id" javaType="java.util.ArrayList" select="selectStationsByWay">
    </collection>
  </resultMap>
  <resultMap id="StationResultMap" type="com.whx.bus.entity.Station" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, topen, tclose,tcloseString,topenString
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.whx.bus.entity.WayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from way
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from way
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.whx.bus.entity.WayExample" >
    delete from way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whx.bus.entity.Way" useGeneratedKeys="true" keyProperty="id" >
    insert into way (id, name, topen, 
      tclose,tcloseString,topenString)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{topen,jdbcType=TIMESTAMP}, 
      #{tclose,jdbcType=TIMESTAMP}, #{topenString,jdbcType=VARCHAR}, #{tcloseString,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whx.bus.entity.Way" useGeneratedKeys="true" keyProperty="id" >
    insert into way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="topen != null" >
        topen,
      </if>
      <if test="tclose != null" >
        tclose,
      </if>
      <if test="topenString != null" >
        topen,
      </if>
      <if test="tcloseString != null" >
        tclose,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="topen != null" >
        #{topen,jdbcType=TIMESTAMP},
      </if>
      <if test="tclose != null" >
        #{tclose,jdbcType=TIMESTAMP},
      </if>
      <if test="topenString != null" >
        #{topenString,jdbcType=VARCHAR},
      </if>
      <if test="tcloseString != null" >
        #{tcloseString,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whx.bus.entity.WayExample" resultType="java.lang.Integer" >
    select count(*) from way
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update way
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.topen != null" >
        topen = #{record.topen,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tclose != null" >
        tclose = #{record.tclose,jdbcType=TIMESTAMP},
      </if>
      <if test="record.topenString != null" >
        topenString = #{record.topenString,jdbcType=VARCHAR},
      </if>
      <if test="record.tcloseString != null" >
        tcloseString = #{record.tcloseString,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update way
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      topen = #{record.topen,jdbcType=TIMESTAMP},
      tclose = #{record.tclose,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whx.bus.entity.Way" >
    update way
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="topen != null" >
        topen = #{topen,jdbcType=TIMESTAMP},
      </if>
      <if test="tclose != null" >
        tclose = #{tclose,jdbcType=TIMESTAMP},
      </if>
      <if test="topenString != null" >
        topenString = #{topenString,jdbcType=VARCHAR},
      </if>
      <if test="tcloseString != null" >
        tcloseString = #{tcloseString,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whx.bus.entity.Way" >
    update way
    set name = #{name,jdbcType=VARCHAR},
      topen = #{topen,jdbcType=TIMESTAMP},
      tclose = #{tclose,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 通过路线获取站点信息 -->
  <select id="selectStationsByWay" parameterType="java.lang.Integer" resultMap="StationResultMap">
    select station.* from station inner join way_station on station.id = way_station.stationId where way_station.wayId = #{value}
  </select>
</mapper>